*.a
*.in
*.la
*.lo
*.o
*~
.deps/
/.libs/
/INSTALL
/aclocal.m4
/autom4te.cache
/build
/compile
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/example
/install-sh
/libtool
/ltmain.sh
/mathomatic
/missing
/stamp-h1
/testmain
/tests/test.out
makefile
